@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root{
	background: #2C4251;
	min-height: 100vh;
	
}
html, body, #root {
    overflow: auto;
	min-height: 100vh;
}
html, body, #root, #root>div {
	height: 100%
  }